<h1 class="text-center my-5"> Register </h1>


<div class="container">
  <form  class="form" [formGroup]="formUser" (ngSubmit)="supmitUser()" #form  >

    <div class="form-group">
      <label for="exampleInputEmail1" class="text-center" > Name </label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name" formControlName="name" autocomplete="additional-name" autofocus>
    <div *ngIf="!name?.valid && (name?.dirty || name?.touched)"  class="alert-danger">
      <div *ngIf="name?.errors?.required"> Please Enter Name </div>
    </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> Email </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div *ngIf="!email?.valid && (email?.dirty || email?.touched)"  class="alert-danger">
        <div *ngIf="email?.errors?.required"> Please Enter Email </div>
        <div *ngIf="email?.errors?.email"> Please Enter Correct Email </div>

      </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
      <div *ngIf="!password?.valid && (password?.dirty || password?.touched)"  class="alert-danger">
        <div *ngIf="password?.errors?.required"> Please Enter Password </div>
        <div *ngIf="password?.errors?.pattern"> Please Enter Strong Password </div>

      </div>
    </div>
    <div class="form-group  col-md-6 ">
      <label for="repassword"> Retype Password</label>
      <input type="password" class="form-control " id="repassword" name="repassword" placeholder="Retype Password" formControlName="repassword" >
      <div *ngIf="!repassword?.valid && (repassword?.dirty || repassword?.touched)"  class="alert-danger">
        <div *ngIf="repassword?.errors?.required"> Please Enter Repassword </div>
        {{repassword?.errors?.check}}
        <div *ngIf="repassword?.errors?.notmuch"> Sorry Passwprd not Matched  </div>

      </div>
    </div>
  </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> Phone </label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Phone" formControlName="phone">
      <div *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)"  class="alert-danger">
        <div *ngIf="phone?.errors?.required"> Please Enter Phone Number </div>
        <div *ngIf="(phone?.errors?.maxlength||phone?.errors?.minlength)"> Please Enter Correct Phone Number </div>

      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="text-center"> Address </label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Address" formControlName="address" >
      <div *ngIf="!address?.valid && (address?.dirty || address?.touched)"  class="alert-danger">
        <div *ngIf="address?.errors?.required"> Please Enter Address </div>
        <div *ngIf="address?.errors?.maxlength"> Please Enter Less Than Character </div>

      </div>
    </div>
    <div formArrayName="roles" class=" mx-5" [hidden]="role!='super'">
      <div class="form-check  rol px-5" *ngFor="let rol of roles"  >
        <input type="checkbox" class="form-check-input " id="role" name="role" value={{rol}} (change)="checkRole($event)"  formControlName="router-outlet" >
        <label class="form-check-label " for="role" > {{rol|uppercase}}</label>
  </div>
      </div>


  <div class="oper">
    <button type="submit" class="btn btn-primary" >Submit</button>
    <button type="submit" class="btn btn-danger" (click)="form.reset()"> Reset </button>
  </div>
  </form>



</div>











<!-- <mat-horizontal-stepper [linear]=true #steeper>
  <mat-step [stepControl]="firstFormControl">
    <form [formGroup]="firstFormControl" >
      <ng-template matStepLabel> Personal Information </ng-template>
        <mat-form-field>
          <mat-step-header> Name </mat-step-header>
          <input type="text"  id="name" placeholder="Enter Name" formControlName="name">
        </mat-form-field>
        <br/>


        <mat-form-field>
          <mat-step-header> Email</mat-step-header>
          <input id="email" name="email" type="text" placeholder=" Enter Email" formControlName="email">
        </mat-form-field>

        <br/>

        <mat-form-field>
          <mat-step-header> Password</mat-step-header>
          <input type="password" name="password" placeholder="Enter Password" formControlName="password">
        </mat-form-field>
        <br/>

        <mat-form-field>
          <mat-step-header> Retype Password</mat-step-header>
          <input type="password" name="repassword" placeholder="Retype  Password" formControlName="repassword">
        </mat-form-field>
        <br/>

     <div>
      <button mat-button matStepperNext > Next </button>
     </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormControl">
    <form [formGroup]="secondFormControl">
  <ng-template matStepLabel> Contact Information </ng-template>

    <mat-form-field>
      <mat-step-header> Phone </mat-step-header>
      <input type="text" id="phone" placeholder="Enter phone" formControlName="phone">
    </mat-form-field>


    <mat-form-field>
      <mat-step-header> Address </mat-step-header>
      <input type="text" id="address" placeholder="Enter address" formControlName="address">
    </mat-form-field>

  <div>
    <button mat-button matStepperPrevious> Previous </button>
    <button mat-button matStepperNext> Next </button>
   </div>
    </form>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Register </ng-template>
    <h6> check your information before saveing </h6>
    <mat-list>
      <mat-list-item><strong>Name Is :   </strong> {{this.firstFormControl.value.name}} </mat-list-item>
      <mat-list-item><strong>Email Is :   </strong> {{this.firstFormControl.value.email}} </mat-list-item>
      <mat-list-item><strong> Address Is :  </strong> {{this.secondFormControl.value.address}}   </mat-list-item>
      <mat-list-item><strong>Phone Is :   </strong> {{this.secondFormControl.value.phone}}  </mat-list-item>
      <mat-list-item><strong>Roles Is :   </strong>  </mat-list-item>

    </mat-list>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="steeper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>













 -->

