label{
  text-align: center;
  padding: auto;
}
.btn{
margin: 30px;
width: 100px;
}

.oper{
  display: flex;
  justify-content: center;
}
.rol{
  display: inline-flex;
  flex-direction: column;
  align-content:center ;
  padding: 30px;
  position: relative;


}
