 <fieldset>

    <legend> Add Category </legend>
    <hr>
<form #catform="ngForm" (ngSubmit)="addCat(catform)">

    <input type="text" class="form-control"  name="newCat" [(ngModel)]="newCat">
    {{newCat}}
  <button type="submit" class="btn btn-success"> Add </button>
</form>
<table class=" table">
  <tr>
    <th> # </th>
    <th> Name </th>
    <th> Operations </th>
  </tr>
  <tr  *ngFor="let c of cat ;let i=index">
    <td>{{i+1}}</td>
    <td> {{c.name|uppercase}} </td>
    <td></td>
  </tr>
</table>
</fieldset>
