input{
  display: inline;
  width: 60%;
  margin-right: 30px;
}
fieldset {
  margin-top: 15px;
  background-color: #eeeeee;
  border:3px rebeccapurple dotted ;
}
legend{
  padding-top: 25px;
  color: blue;
}
table{
  overflow-y:scroll;
  height:150px;
  display:inline-block;
  width: auto;
}
