<div style="position: relative;; top: 50%;left: 50%;">
  <div *ngIf="isLoaded"  class="loader"></div>
  <div *ngIf="isLoaded"  class="loader1"></div>
  <div *ngIf="isLoaded"  class="loader2"></div>
  <div *ngIf="isLoaded"  class="loader3"></div>
 </div>
<div class="d" *ngIf="!isLoaded" >
  <div class="container">


  <form  #search="ngForm" class="form " >
    <select [ngModel] class="form-select form-control" (change)="searchProd($event)" autocomplete="additional-name" aria-selected="true">
      <option aria-selected="true" disabled>Choose...</option>
      <option aria-selected="true" value="0">All</option>
     <option *ngFor="let c of cat ; let i=index" value="{{c._id}}" name="op"  class="form-control" > {{c.name}}</option>
    </select>
  </form>

  <div class="row">
    <div *ngFor="let product of allProduct"   class="  col col-md-9 col-xl-4 col-lg-6">
      <!-- <div class="row row-cols-2" style="margin-top: 10px;">
        <div class="col col-6 col-md-9 col-lg-6 col-xl-4  "> -->
          <app-card-product  class="col" [product]=product></app-card-product>
      </div>
  </div>

</div>
</div>
<!-- </div>


</div>
</div> -->
