body{
  background-color:#5286F3;
  font-size:14px;
  color:#fff;
}
.simple-login-container{
  width:300px;
  max-width:100%;
  margin:50px auto;
}
.simple-login-container h1{
  text-align:center;
  font-size:50px;
  margin-bottom: 20px;
  color: rgba(46, 38, 56, 0.6);

}

.simple-login-container .btn-login{
  background-color:#FF5964;
  color:#fff;
}
a{
  color:#fff;
}

.no{
  background-color: crimson;
  color: #fff;
  width: auto;
  height: auto;
  padding: auto;
  position: absolute;
  margin: auto;
  z-index: 9;
}
.formy{
  z-index:1;
}
.success{
  background-color: rgba(20, 131, 48, 0.5);
  height: 200px;
  z-index: 10;
}
