.about-us{
  display: flex;
  padding: 20px;
  position: absolute;
  color:green;
  z-index: 3;
}

.about-info{
  flex: 1;
  }
   .about-info h2{
      font-weight: bold;
      line-height: 1.8;
      color:var(--pargColor);
  }
   .about-info p{
      color: #779;
      line-height: 1.5;
      word-spacing: 3px;


  }
