<!DOCTYPE html>
<html>
    <head>
        <title> register page</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
        table , th, tr,td{
border: 2px solid black;
text-align: center;
}
    </style>
<body>